<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>MPO Image</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
    		<array>
     			<string>public.mpo-image</string>
			</array>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>public.mpo-image</string>
			<key>UTTypeDescription</key>
			<string>Multi-Picture Object</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.image</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mpo</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>image/mpo</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>ATSApplicationFontsPath</key>
	<string>Resources</string>
	<key>Fonts provided by application</key>
	<array>
    	<string>SpecialElite.ttf</string>
	</array>
</dict>
</plist>
